body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Range */
[data-range-input]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  background: var(--color-background-accent);
  border-radius: 50%;
  border-image: linear-gradient(90deg, var(--color-background-accent) 50%, var(--color-border-default-secondary) 0) 0 1 / calc(50% - 4px / 2) 100vw/0 100vw;
  -webkit-appearance: none;
  appearance: none;
  transition: 0.3s;
}
[data-range-input]::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background: var(--color-background-accent);
  border-radius: 50%;
  border-image: linear-gradient(90deg, var(--color-background-accent) 50%, var(--color-border-default-secondary) 0) 0 1 / calc(50% - 4px / 2) 100vw/0 100vw;
  -webkit-appearance: none;
  appearance: none;
  transition: 0.3s;
}
[data-range-input] ~ datalist > option {
  color: var(--Neutral-Solid-40, #9ca3af);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  display: inline-block;
  width: calc((100% - 12px) / var(--list-length));
  text-align: center;
}
[data-range-input] ~ datalist > option:first-child {
  width: calc((100% - 12px) / (var(--list-length) * 2) + 6px);
  text-align: left;
}
[data-range-input] ~ datalist > option:last-child {
  width: calc((100% - 12px) / (var(--list-length) * 2) + 6px);
  text-align: right;
}

/* Popover */
[popover] {
  inset: unset;
  width: auto;
  height: auto;
  padding: 0;
  background: transparent;
  border: none;
  position: fixed;
  top: 0px;
  right: 0px;
  pointer-events: none;
  overlay: none;
}
[popover]:popover-open + .popover-menu {
  display: block !important;
}

/* Generic selectors */
div[contenteditable='true'] .tag {
  display: inline-flex;
  padding: 2px 4px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
  background: #f9fafb;
  pointer-events: none;
  color: #030712;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
mark,
pre,
p > code {
  @apply font-sans border border-border-default-secondary bg-background-default-secondary rounded text-sm text-foreground-default-secondary px-1 py-0.5 inline-flex;
}
pre {
  @apply overflow-x-auto;
}

/* Form */
form {
  margin-block-end: 0;
}

[x-cloak] {
  display: none !important;
}

/* Helpers */
.text-dimmed {
  @apply text-foreground-default-tertiary;
}

.max-w-md {
  max-width: 28rem;
}
.uppercase {
  text-transform: uppercase;
}
.text-danger {
  @apply text-foreground-critical;
}
.text-neutral {
  @apply text-foreground-default-secondary;
}

/* Flash message animation */
@keyframes flashMessage {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  9.09% {
    /* 0.5s of 5.5s total */
    opacity: 1;
    transform: translateY(0);
  }
  90.9% {
    /* Stay visible till ~5s */
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(25%);
  }
}
