package popui

import "github.com/invopop/popui.go/props"

// ContextMenu forwards to Menu and is kept so upgrading consumers don't
// break on the rename.
//
// Deprecated: use Menu instead.
templ ContextMenu(opts ...props.ContextMenu) {
	@Menu(props.First(opts)) {
		{ children... }
	}
}

// ContextMenuItem forwards to MenuItem.
//
// Deprecated: use MenuItem instead.
templ ContextMenuItem(opts ...props.ContextMenuItem) {
	@MenuItem(props.First(opts)) {
		{ children... }
	}
}
