@import "tailwindcss" source("./**/*.{templ,go}");
/* Assume main popui repo is available */
@import "../popui/svelte/src/lib/tailwind.theme.css";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@import "./components.css";
