package examples

import (
	"github.com/invopop/icons"
	"github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

type organization struct {
	Name    string
	UUID    string
	Created string
}

var pinnedOrganizations = []organization{
	{"Invopop", "01936f57-5f57-7338-8e67-b2b1bd7a75ad", "2024-12-12 10:28"},
	{"Invopop Billing", "019a7daf-63ee-7567-901e-2150a17b86fc", "2025-11-13 14:47"},
}

var allOrganizations = []organization{
	{"invopop", "01a061c8-bb8a-7766-b58d-f8087bd38c0a", "2026-09-02 11:02"},
	{"Invopop", "01a01a08-0b40-75bb-837c-534fc5cf155f", "2026-08-19 12:39"},
	{"Invopop", "01a015af-a4a1-7b35-8f21-71be7eb34c07", "2026-08-18 16:23"},
	{"buyer-invopop", "019feab5-a2c9-7922-93c2-3326779da0f9", "2026-08-10 08:06"},
	{"Invopop", "019fad6b-1ca5-791f-b71b-62b1b2842855", "2026-07-29 10:28"},
	{"InvopopTest", "019f7e6c-9cc6-7c1c-93cd-04c2ccedd011", "2026-07-20 07:28"},
	{"Invopop", "019eca70-6f19-72ff-a536-409ddfda7f79", "2026-06-15 08:40"},
	{"Invopop 99 Sushi Bar", "019ae90a-8825-7d42-a87e-35b2c2b92096", "2025-12-04 11:06"},
	{"invopop@cobee.io", "019977a2-64df-7462-b2d0-7bbafadce140", "2025-09-23 17:33"},
	{"Invopop demo Org", "01977d3f-e8c9-778f-adcc-7c469e0c11c6", "2025-06-17 09:37"},
}

templ AppOrganizationsExample() {
	@popui.App(props.App{Title: "All Organizations"}) {
		@popui.Header(props.Header{
			Breadcrumbs: []props.Breadcrumb{{Label: "Organizations"}},
		}) {
			@popui.Button(props.Button{Variant: "primary"}) {
				@icons.Add()
				<span>Create org</span>
			}
		}
		@popui.Main(props.Main{Center: true}) {
			@popui.Article(props.Article{
				Title:       "All organizations",
				Description: "Manage all organizations in Invopop Sudoer!",
			}) {
				@popui.Table(props.Table{Variant: "card"}) {
					<tbody>
						for _, org := range pinnedOrganizations {
							@organizationRow(org)
						}
					</tbody>
				}
				@popui.Input(props.Input{
					Type:        "search",
					Placeholder: "Search organizations",
					Icon:        icons.Search(),
				})
				@popui.Table(props.Table{Variant: "card"}) {
					<thead>
						<tr>
							<th>Name</th>
							<th>UUID</th>
							<th>Created</th>
						</tr>
					</thead>
					<tbody>
						for _, org := range allOrganizations {
							@organizationRow(org)
						}
					</tbody>
				}
			}
		}
	}
}

templ organizationRow(org organization) {
	<tr>
		<td>{ org.Name }</td>
		<td>
			@popui.Button(props.Button{
				Copy:             org.UUID,
				CopyPrefixLength: 8,
				CopySuffixLength: 4,
			})
		</td>
		<td><span class="font-mono">{ org.Created }</span></td>
	</tr>
}
