package examples

import (
	"github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ BreadcrumbsWithChildrenExample() {
	@popui.Breadcrumbs() {
		@popui.Breadcrumb(props.Breadcrumb{
			Href: "/",
		}) {
			<span>🏠 Home</span>
		}
		@popui.Breadcrumb(props.Breadcrumb{
			Href: "/products",
		}) {
			<span>📦 Products</span>
		}
		@popui.Breadcrumb(props.Breadcrumb{}) {
			<span>💻 Electronics</span>
		}
	}
}
