package examples

import (
	popui "github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
	"github.com/invopop/popui.go/scripts"
)

templ ButtonCopyExample() {
	<html>
		<head>
			@scripts.ButtonCopy()
		</head>
		<body>
			@popui.ButtonCopy(props.ButtonCopy{
				Value: "e73d5d20834934588127389172381789bc2f275460",
			})
		</body>
	</html>
}
