package examples

import (
	popui "github.com/invopop/popui.go"
	"github.com/invopop/popui.go/icons"
	"github.com/invopop/popui.go/props"
)

templ ButtonWithIconsExample() {
	<div class="flex gap-2">
		@popui.Button(props.Button{Variant: props.ButtonVariantPrimary}) {
			Save
		}
		@popui.Button(props.Button{Variant: props.ButtonVariantDanger}) {
			@icons.Delete()
			Delete
		}
	</div>
}
