package examples

import (
	"github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ CalendarExample() {
	@popui.Calendar(props.Calendar{
		Name: "period",
		Presets: []props.CalendarPreset{
			{Key: props.CalendarPresetThisMonth},
			{Key: props.CalendarPresetLastMonth},
			{Key: props.CalendarPresetThisQuarter},
			{Key: props.CalendarPresetLastQuarter},
			{Key: props.CalendarPresetCustom, Label: "Custom range"},
		},
	})
}
