package examples

import (
	"github.com/invopop/popui.go"
	"github.com/invopop/popui.go/goblfields"
	"github.com/invopop/popui.go/props"
)

var envelopeFields = goblfields.MustBuild("envelope", goblfields.Options{Descriptions: true})

templ FieldSelectorWithLabelExample() {
	@popui.FieldSelector(props.FieldSelector{
		Label:  "Envelope field",
		Name:   "field",
		Root:   "envelope",
		Value:  "head.stamps[].val",
		Fields: envelopeFields,
	})
}
