package examples

import (
	"github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ FileAcceptTypesExample() {
	@popui.InputFile(props.InputFile{
		Name:   "images",
		Accept: "image/*",
	})
	@popui.InputFile(props.InputFile{
		Name:   "documents",
		Accept: ".pdf,.doc,.docx",
	})
}
