package examples

import (
	"github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ FileBadgeExample() {
	<div class="flex items-center gap-3">
		@popui.FileBadge(props.FileBadge{Type: "xml"})
		@popui.FileBadge(props.FileBadge{Type: "pdf"})
		@popui.FileBadge(props.FileBadge{Type: "png"})
		@popui.FileBadge(props.FileBadge{Type: "csv"})
	</div>
}
