package examples

import (
	popui "github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ ImageWithAvatarExample() {
	<div class="flex gap-4">
		@popui.Avatar(props.Avatar{Size: "lg"}) {
			@popui.Image(props.Image{
				Src: "https://i.pravatar.cc/150?img=8",
				Alt: "User avatar",
			})
		}
		@popui.Avatar() {
			@popui.Image(props.Image{
				Src: "https://i.pravatar.cc/150?img=12",
				Alt: "User avatar",
			})
		}
	</div>
}
