package examples

import (
	"github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ InputCustomLabelExample() {
	@popui.Label(props.Label{ID: "username", Hint: "Choose a unique username"}) {
		Username
	}
	@popui.Input(props.Input{
		ID:          "custom-username",
		Type:        "text",
		Placeholder: "johndoe",
	})
}
