package examples

import (
	"github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ InputDisabledExample() {
	@popui.Input(props.Input{
		Placeholder: "This input is disabled",
		Disabled:    true,
	})
	@popui.Input(props.Input{
		Value:    "Read-only value",
		Readonly: true,
	})
}
