package examples

import (
	"github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ LabelWithHintExample() {
	@popui.Label(props.Label{
		ID:   "email-with-hint",
		Hint: "This will be your primary contact email",
	}) {
		Email Address
	}
}
