package examples

import (
	"github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ MenuExample() {
	@popui.Menu() {
		@popui.MenuItem() {
			Edit
		}
		@popui.MenuItem() {
			Duplicate
		}
		@popui.MenuItem() {
			Delete
		}
		@popui.MenuLabel() {
			Switch to
		}
		@popui.MenuItem(props.MenuItem{Selected: true}) {
			@popui.Avatar(props.Avatar{Initial: "P"})
			<span>Production</span>
		}
		@popui.MenuItem() {
			@popui.Avatar(props.Avatar{Initial: "S"})
			<span>Staging</span>
		}
	}
}
