package examples

import "github.com/invopop/popui.go"

templ MenuExample() {
	@popui.Menu() {
		@popui.MenuItem() {
			Edit
		}
		@popui.MenuItem() {
			Duplicate
		}
		@popui.MenuItem() {
			Delete
		}
	}
}
