package examples

import "github.com/invopop/popui.go"

templ MenuWithSeparatorExample() {
	@popui.Menu() {
		@popui.MenuItem() {
			Settings
		}
		@popui.MenuItem() {
			Profile
		}
		@popui.MenuSeparator()
		@popui.MenuItem() {
			Logout
		}
	}
}
