package examples

import (
	popui "github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ NotificationInfoExample() {
	@popui.Notification(props.Notification{
		Type:        "info",
		Text:        "New feature available",
		Description: "Check out the new reporting dashboard in your settings.",
	})
}
