package examples

import (
	popui "github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ NotificationErrorExample() {
	@popui.Notification(props.Notification{
		Type:        "error",
		Text:        "Upload failed",
		Description: "The file size exceeds the maximum allowed limit.",
	})
}
