package examples

import "github.com/invopop/popui.go"

templ PopoverExample() {
	@popui.Popover() {
		@popui.PopoverItem() {
			Edit
		}
		@popui.PopoverItem() {
			Duplicate
		}
		@popui.PopoverItem() {
			Delete
		}
	}
}
