package examples

import (
	popui "github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ RadioDisabledExample() {
	<div class="space-y-3">
		@popui.Radio(props.Radio{
			Name:     "option",
			Value:    "1",
			Label:    "Disabled radio",
			Disabled: true,
		})
		@popui.Radio(props.Radio{
			Name:     "option",
			Value:    "2",
			Label:    "Disabled checked radio",
			Checked:  true,
			Disabled: true,
		})
	</div>
}
