package examples

import (
	popui "github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ SelectDisabledExample() {
	@popui.Select(props.Select{
		Name:     "country",
		Disabled: true,
	}) {
		<option value="es" selected>Spain</option>
		<option value="fr">France</option>
		<option value="de">Germany</option>
	}
}
