package examples

import (
	"github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ SelectCustomLabelExample() {
	@popui.Label(props.Label{
		ID:   "custom-country",
		Hint: "Choose your preferred country",
	}) {
		Country
	}
	@popui.Select(props.Select{
		ID:   "custom-country",
		Name: "country",
	}) {
		<option value="">Select a country</option>
		<option value="es">Spain</option>
		<option value="fr">France</option>
		<option value="de">Germany</option>
	}
}
