package examples

import popui "github.com/invopop/popui.go"

templ SeparatorExample() {
	<div>
		@popui.P() {
			Content above 
		}
		@popui.Separator()
		@popui.P() {
			Content below 
		}
	</div>
}
