package examples

import (
	popui "github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ SliderCustomStepExample() {
	@popui.Slider(props.Slider{
		ID:    "slider-price-custom",
		Name:  "price",
		Min:   "0",
		Max:   "1000",
		Step:  "50",
		Value: "500",
	}) {
		@popui.Label(props.Label{ID: "price"}) {
			Price Range
		}
	}
}
