package examples

import popui "github.com/invopop/popui.go"

templ TableExample() {
	@popui.Table() {
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Role</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>John Doe</td>
				<td>john@example.com</td>
				<td>Admin</td>
			</tr>
			<tr>
				<td>Jane Smith</td>
				<td>jane@example.com</td>
				<td>User</td>
			</tr>
			<tr>
				<td>Bob Johnson</td>
				<td>bob@example.com</td>
				<td>Editor</td>
			</tr>
		</tbody>
	}
}
