package examples

import (
	"github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ TabsExample() {
	@popui.Tabs(props.Tabs{Tabs: []props.TabItem{
		{Value: "account", Label: "Account"},
		{Value: "settings", Label: "Settings"},
		{Value: "privacy", Label: "Privacy"},
	}})
}
