package examples

import (
	popui "github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ TabsActiveExample() {
	@popui.Tabs(props.Tabs{}) {
		@popui.Tab(props.Tab{}) {
			Overview
		}
		@popui.Tab(props.Tab{Active: true}) {
			Details
		}
		@popui.Tab(props.Tab{}) {
			History
		}
	}
}
