package examples

import (
	popui "github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ TextareaWithLabelExample() {
	@popui.Textarea(props.Textarea{
		ID:          "bio",
		Name:        "bio",
		Label:       "Biography",
		Placeholder: "Tell us about yourself...",
		Rows:        6,
	})
}
