package examples

import (
	"github.com/invopop/popui.go"
	"github.com/invopop/popui.go/props"
)

templ TextareaExample() {
	@popui.Textarea(props.Textarea{
		Placeholder: "Enter your message...",
		Rows:        4,
	})
}
