package examples

import "github.com/invopop/popui.go"

templ TypographyAlertsExample() {
	<div>
		@popui.Info() {
			This is an informational message with an icon. 
		}
		@popui.Warning() {
			This is a warning message with an alert icon. 
		}
	</div>
}
