package examples

import "github.com/invopop/popui.go"

templ TypographyHeadingsExample() {
	<div class="space-y-4">
		@popui.Title() {
			Page Title 
		}
		@popui.Subtitle() {
			Section Subtitle 
		}
	</div>
}
