package examples

import popui "github.com/invopop/popui.go"

templ TypographyParagraphsExample() {
	<div class="space-y-2">
		@popui.P() {
			This is a standard paragraph with default styling. 
		}
		@popui.Description() {
			This is a description with secondary text color. 
		}
	</div>
}
