package examples

import "github.com/invopop/popui.go"

templ TypographyInlineExample() {
	@popui.P() {
		<span>This paragraph contains </span>
		@popui.Mark() {
			highlighted text 
		}
		<span>using the Mark component.</span>
	}
}
